{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block content %}

<!-- Hero -->
<section class="hero-home">
    {% if page.imagen_hero %}
        {% image page.imagen_hero fill-1600x800 as img %}
        <div class="hero-bg" style="background-image: url('{{ img.url }}');"></div>
        <div class="hero-overlay"></div>
    {% else %}
        <div class="hero-bg-default"></div>
    {% endif %}

    <!-- Contenido del hero -->
    <div class="hero-content">
        <div class="hero-tag">{{ page.sede_name }}</div>
            <h1 class="hero-title">
                {{ page.titulo_normal }} <br><span>{{ page.titulo_destacado }}</span>
            </h1>
        {% if page.subtitulo %}
        <p class="hero-subtitle">{{ page.subtitulo }}</p>
        {% endif %}
        {% if page.boton_texto %}
        <a href="{{ page.boton_url }}" class="btn-primary-betesda">
            {{ page.boton_texto }}
        </a>
        {% endif %}
    </div>
</section>

{% endblock %}
