{% load static menu_tags %}

<nav class="navbar-betesda" id="navbar">
    <!-- Logo -->
    <a href="/" class="navbar-logo">
        <div class ="logo">
            <img src="{% static 'Betesda_logos/logo_betesda_int_2.png' %}" alt="Logo Betesda">
        </div>

    </a>

    <!-- Links -->
    <ul class="navbar-links" id="navbarLinks">
        {% get_menu "principal" as menu %}
        {% if menu %}
            {% for item in menu.menu_items.all %}
            <li>
                <a href="{{ item.get_url }}"
                    {% if item.abrir_en_nueva_pestana %}target="_blank"{% endif %}>
                    {{ item.titulo }}
                </a>
            </li>
            {% endfor %}
        {% endif %}
    </ul>

    <!-- Botón hamburguesa mobile -->
    <button class="navbar-toggle" id="navbarToggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
</nav>
